<div class="table">
  <h1>다국어 관리자 페이지</h1>
  <p>{{ data | json }}</p>
  <hr />
  <table>
    <thead>
      <tr>
        <th>한국어</th>
        <th>영어</th>
        <th>중국어</th>
        <th>베트남어</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="text" name="설비효율" (focusout)="focusOut($event)" />
        </td>
        <td>
          <input type="text" name="바바효율" (focusout)="focusOut($event)" />
        </td>
        <td>
          <input type="text" name="사사효율" (focusout)="focusOut($event)" />
        </td>
        <td>
          <input type="text" name="왕왕효율" (focusout)="focusOut($event)" />
        </td>
      </tr>
    </tbody>
  </table>
</div>
